<div id="page-wrapper">
  <div id="center-on-page">
    <div id="center-on-center-on-page">
      <div id="screen-welcome">
        <h1>Choose what you want to practice</h1>
        <table class="margin-auto">
          <tr>
            <td>
              <input type="checkbox" id="operator-plus" class="hidden" checked />
              <label for="operator-plus" class="push-button big-square-button">
                +
              </label>
            </td>
            <td>
              <input type="checkbox" id="operator-times" class="hidden" />
              <label for="operator-times" class="push-button big-square-button">
                &#215;
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="operator-minus" class="hidden" checked />
              <label for="operator-minus" class="push-button big-square-button">
                &#8722;
              </label>
            </td>
            <td>
              <input type="checkbox" id="operator-over" class="hidden" />
              <label for="operator-over" class="push-button big-square-button">
                &#247;
              </label>
            </td>
          </tr>
        </table>
        <p>
        <%= push_button "Easy", "difficulty-easy", "difficulty",
          false, ["difficulty-button"] %>
        <%= push_button "Normal", "difficulty-normal", "difficulty",
          false, ["difficulty-button"] %>
        <%= push_button "Hard", "difficulty-hard", "difficulty",
          false, ["difficulty-button"] %>
        <div class="separator"></div>
          <button class="big-button side-margins" id="start-playing-button">  
            Start playing!
          </button>
        </div>
        <div id="screen-game">
        </div>
        <div id="screen-statistics">
        </div>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "game/welcome" %>
  <%= javascript_include_tag "game/question" %>
  <%= javascript_include_tag "game/operator" %>
  <%= javascript_include_tag "game/stats" %>
